.rc-footer {
  /* width: 100%; */
  bottom: 0;
  font-family: monospace;
  padding: 3px 15px;
  /* 不固定底部备案号 */
  /* position: fixed; */
  text-align: center;
}

.beian {
  justify-content: center;
}

.beian a {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.2);
  /* 取消下划线 */
  text-decoration: none
}